header{
	background: var(--color2);
	height: 50px;
	position: fixed;
	width: 100%;
	top:0;
	z-index: 5;
}
main{
	margin-top: 100px;
}
#askContent{
	background-color: transparent;
	animation: all 1s ease;
}
#gifLoad{
	display: flex;
}
#gifLoad>img{
	margin: auto;
}
.btnStart{
	width: 100%;
	height: 50px;
	background-color: green;
	color:white;
	border-radius: 5px;
}
.opcion{
	background: green;
    text-align: center;
    
    border: 4px solid white;
    border-radius: 12px;
    padding: 4px;
}
.opcion:hover{
	cursor: pointer;
}
.opcion>h2{
	margin:0;
}
.preguntaT1{
	color:white;
	display: flex;
	flex-direction: column;
	gap:10px;

}
.preguntaT1>img{
	position: relative;
	width: 40%;
	/*margin-left: 20%;*/
	margin:auto;
}
.gifCorrect{
	border-radius: 50%;
}
.error{
	background-color: rgba(255,0,0,0.6)!important;
	padding-bottom: 20px;
}
.correcta{
	    background-color: purple !important;
}
#hTiempo{
	background: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid dodgerblue;
    color: white;
}

.boxResultado{
	    width: 50%;
    position: relative;
    z-index: 3;
    
    margin-top: 10%;
    background-color: black;
    border: 2px solid var(--color1);
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
}

.posicion{
	    background: rgba(0,0,0,0.5);
    color: white;
    border: 3px solid springgreen;
    border-radius: 26px;
    margin-top: 10px;
}
.posicion>.c1{
	display: flex;
	justify-content: center;
}
.miPosicion{
	background: orange !important;
}

@media (max-width: 360px){
	#hNombreJugador{
		font-size: 18px;
	}
}