.tarjeta{
	height: 200px;
	display: flex;
	flex-direction: column;
	gap:5px;
	border-radius: 10px;
	background-color: white;
	position: relative;
	border:3px solid white;
}
.tarjeta>img{
	position: relative;
	width: 100%;
	height: 100px;
}
.tarjeta>h2,h3{
	 margin: 0;
	 text-align: center;
}

